body, html {
background-color: #F9F5EE;
height: 100%;
}

.navbar {
    background-color: #E9C4B3;
}

.navbar-nav .nav-link:hover {
  color: #B7C8B5;
}


.navbar-nav .nav-link.active,
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:active {
  color: #B7C8B5;
}


.navbar-brand {
    color: #F9F5EE;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.navbar-brand:hover,
.navbar-brand:focus,
.navbar-brand:active {
  color: #F9F5EE; 
}
.navbar-toggler {
    border-color: #F9F5EE;
    border-width: 0.5px;
    color: #F9F5EE;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='%23F9F5EE' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler-icon {
    color: #F9F5EE;
}

.nav-link {
    color: #F9F5EE;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

.h1 {
font-family: Helvetica, Arial, sans-serif;
width: 380px;
height: 170px;
color: #B7C8B5;
text-align: center;
font-size: 96px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.h2 {
font-family: Helvetica, Arial, sans-serif;
width: 380px;
height: 86px;
color: #B7C8B5;
text-align: center;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.h3 {
    color:#B7C8B5;
    width: 380px;
    height: 44px;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-style: light;
    font-weight: 400;
    line-height: normal;
}

.hero-text h1,
.hero-text h2,
.hero-text h3 {
    margin: 0;               
    padding: 0;              
    line-height: 1.1;           
}

.hero-text h1 { margin-bottom: 80px; }
.hero-text h2 { margin-bottom: 0px; }
.hero-text h3 { margin-bottom: 0px; }

.img2 {
    width: 540px;
height: 720px;
aspect-ratio: 3/4;
}

.img3 {
    width: 100%;
    aspect-ratio: 4/3;
    border-radius: 18px;
    
}

.img1 {
    width: 100%;
aspect-ratio: 4/3;
margin-top: 50px;
}

.prh3 {
    width: 100%;
color:#B7C8B5;
text-align: center;
font-family: Helvetica, Arial, sans-serif;
font-size: clamp(16px, 2vw, 30px);
font-style: normal;
font-weight: 500;
line-height: normal;
padding-bottom: 100px;
padding-top: 40px;
overflow-wrap: break-word;
box-sizing: border-box;
margin: 0 auto;
}

.prh2 {
     width: 100%;
color:#B7C8B5;
text-align: center;
font-family: Helvetica, Arial, sans-serif;
font-size: clamp(16px, 2vw, 30px);
font-style: normal;
font-weight: 500;
line-height: normal;
padding-bottom: 50px;
overflow-wrap: break-word;
box-sizing: border-box;
margin: 0 auto;
}

@media(min-width: 992px) {
    .prh2, .prh3 {
        max-width: 460px;
        font-size: 30px;
        margin: 0 auto;
    }
}


@media(max-width: 991px) {
    .prh2, .prh3 {
        font-size: 20px; 
        margin: 0;   
    }
}

.bg4 {
    background-image: url('../images/Group\ 1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.p4h1 {
color: #E9C4B3;
text-align: center;
font-family: Helvetica, Arial, sans-serif;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 1.2;
margin-bottom:15px;
}

.p4h2 {
color: #E9C4B3;
text-align: center;
font-family: Helvetica, Arial, sans-serif;
font-size: clamp(18px, 4vw, 30px);
font-style: normal;
font-weight: 200;
line-height: 1.3;
margin-bottom:30px;
overflow-wrap: break-word;
}

.linkedin-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 53px;
    border-radius: 15px;
    background: #E9C4B3;
    color: #F9F5EE; 
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.3s ease;
    margin-bottom: 20px;
}

.img-space {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.p3h3 {
    color:#B7C8B5;
    width: 380px;
    height: 44px;
    text-align: 50%;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-style: light;
    font-weight: 400;
    line-height: normal;
    vertical-align: middle;
}

.pth3 {
    color: #B7C8B5;
text-align: center;
font-family: Helvetica, Arial, sans-serif;
font-size: 20px;
font-style: light;
font-weight: 400;
line-height: normal;
}



